<div class="main">
  <form [formGroup]="resetForm" (ngSubmit)="reset()">
    <h2>Enter Your New Password</h2>

    <input type="hidden"  formControlName="token"/>

    <input
      type="password"
      class="form-control"
      name="password"
      formControlName="password"
      placeholder="Enter New Password"
      required
    />
    <div
      *ngIf="
        resetForm.get('password')?.hasError('required') &&
        resetForm.get('password')?.touched
      "
      class="error"
    >
      Password is required
    </div>

    <input
      type="password"
      class="form-control"
      name="confirmpassword"
      formControlName="confirmpassword"
      placeholder="Confirm Password"
      required
    />
    <div
      *ngIf="
      resetForm.get('confirmpassword')?.hasError('required') &&
      resetForm.get('confirmpassword')?.touched
      "
      class="error"
    >
      Confirm Password is required
    </div>

    <div
      *ngIf="resetForm.get('confirmpassword')?.hasError('mismatch')"
      class="error"
    >
      Passwords do not match
    </div>

    <button type="submit" class="reset_btn">
        Reset
      </button>

  </form>
</div>
