.main{
    background-color: rgb(15, 15, 50);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: white;
        }
        input {
            height: 50px;
            width: 400px;
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
          }
          ::placeholder {
            color: #e5e5e5;
          }
          .error{
            color: red;
          }
          .reset_btn{
            margin-top: 40px;
            width: 300px;
            background-color: #ffffff85;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
          }
    }
}