.main {
  background-color: rgb(15, 15, 50);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  h1{
    color: white;
  }
  input {
    height: 50px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  ::placeholder {
    color: #e5e5e5;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .error{
    color: red;
  }
  .verify_btn {
    width: 300px;
    background-color: #ffffff85;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
}
.resend_btn{
  padding:5px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #080710;
  background-color: #ffffffc0;
}
.resend_btn:hover{
  background-color: #9a8888c0;
}
}
